MYSQL_ROOT_PASSWORD=changeme
ESPOCRM_DB_NAME=espocrm
ESPOCRM_DB_USER=espocrm
ESPOCRM_DB_PASSWORD=changeme

ESPOCRM_ADMIN_USER=admin
ESPOCRM_ADMIN_PASSWORD=changeme

# URL accessible from your browser
ESPOCRM_SITE_URL=http://localhost:8080
ESPOCRM_PORT=8080
